/*
20607a
1b304f
site color
*/

/*
|----------------------------------------------------------------------
|       Body Main Css
|----------------------------------------------------------------------
*/

@font-face {
    font-family: 'lite';
    src: url('../fonts/segoeuil.ttf');
}

@font-face {
    font-family: 'italic';
    src: url('../fonts/segoeuii.ttf');
}

@font-face {
    font-family: 'regular';
    src: url('../fonts/segoeui.ttf');
}

@font-face {
    font-family: 'semi';
    src: url('../fonts/segoeuisb.ttf');
}

@font-face {
    font-family: 'bold';
    src: url('../fonts/segoeuib.ttf');
}

@font-face {
    font-family: 'black';
    src: url('../fonts/segoeuibl.ttf');
}

@font-face {
    font-family: 'fancy';
    src: url('../fonts/Byington-Regular.ttf');
}

@font-face {
    font-family: 'price';
    src: url('../fonts/century-gothic-regular.ttf');
}

.lite {
    font-family: 'lite' !important;
}

.italic {
    font-family: 'italic' !important;
}

.regular {
    font-family: 'regular' !important;
}

.semi {
    font-family: 'semi' !important;
}

.bold {
    font-family: 'bold' !important;
}

.black {
    font-family: 'black' !important;
}

.fancy {
    font-family: 'fancy' !important;
}

.price {
    font-family: 'price' !important;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    background-color: #f8f9fa;
    /*background: #20607a;*/
    /*background: #1b304f;*/
    color: #4e566d;
    font-size: 14px;
    font-family: 'regular';
    margin: 0;
    padding: 0;
    padding-top: 106px;
    letter-spacing: 0.2px;
    word-break: break-word;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    overflow-x: hidden;
}

body {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    -o-flex-flow: column;
    flex-flow: column;
}

body.dark {
    background-color: #212b30;
}

body.flow {
    overflow: hidden !important;
}

body > main {
    /*display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    -o-flex-flow: column;
    flex-flow: column;*/
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

::selection {
    background: #20607a;
    color: #fff;
}

::-moz-selection {
    background: #20607a;
    color: #fff;
}

body a {
    color: #2b3a50;
    word-break: break-word;
}

body a,
body span {
    display: inline-block;
    text-decoration: none;
}

body a:hover,
body a:focus {
    color: #20607a;
    outline: none !important;
    text-decoration: none !important;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li a {
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2b3a50;
    font-family: 'semi';
    line-height: 1.2;
    margin: 0 0 10px;
}

p {
    margin: 0 0 10px;
}

p > a {
    color: #3c9cdb;
}

p > a:hover {
    color: #20607a;
}

.relative {
    position: relative;
}

.tableDv {
    display: table;
    width: 100%;
    height: 100%;
}

.tableCell {
    display: table-cell;
    vertical-align: middle;
}

.toggle {
    position: absolute;
    top: 35px;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    z-index: 4;
}

.toggle span,
.toggle span:before,
.toggle span:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: #20607a;
    border-radius: 50px;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.toggle span {
    position: relative;
    display: block;
    width: 22px;
    margin: 7px auto;
}

.toggle span:before {
    top: -7px;
}

.toggle span:after {
    bottom: -7px;
}

.toggle.active span {
    width: 16px;
    background: transparent !important;
}

.toggle.active span:before {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
}

.toggle.active span:before,
.toggle.active span:after {
    top: 0;
}

.toggle.active span:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.blockquote {
    background: #fafafa;
    color: #151d23;
    font-size: 14px;
    padding: 10px 10px 10px 20px;
    border: 1px solid #f0f5f9;
    border-left: 4px solid #20607a;
}

.secHeading {
    position: relative;
    color: #2b3a50;
    font-size: 32px;
    font-family: 'bold';
    text-transform: uppercase;
    margin-bottom: 25px;
}

.secHeading > em {
    color: #20607a;
}

p.pre {
    font-size: 18px;
    font-family: 'regular';
    margin: -15px 0 25px;
}

.color {
    color: #20607a !important;
}

.background {
    background: #20607a !important;
}

/*
|----------------------------------------------------------------------
|       Body Main Button
|----------------------------------------------------------------------
*/

.webBtn {
    position: relative;
    min-width: 80px;
    height: 34px;
    background: #fff;
    color: #2b3a50 !important;
    font-size: 14px;
    font-family: 'regular';
    text-align: center;
    padding: 7px 15px 0;
    padding-bottom: 20px !important;
    letter-spacing: 1px;
    white-space: nowrap;
    border: 0;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 1px rgba(43, 45, 80, 0.1), 0 2px 5px 0 rgba(43, 45, 80, 0.08), 0 1px 1.5px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 0 0 0 transparent;
    box-shadow: 0 0 0 1px rgba(43, 45, 80, 0.1), 0 2px 5px 0 rgba(43, 45, 80, 0.08), 0 1px 1.5px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 0 0 0 transparent;
    outline: none !important;
}

.smBtn {
    min-width: 40px;
    height: 28px;
    font-size: 13px;
    padding: 5px 12px 0;
}

.lgBtn {
    height: 46px;
    font-size: 16px;
    padding: 12px 30px 0;
    text-transform: uppercase;
}

.colorBtn {
    background: #20607a;
    color: #fff !important;
}

.cnclBtn {
    background: #192125;
    color: #fff !important;
}

.webBtn i {
    position: relative;
    top: 3px;
    font-size: 18px;
    line-height: 0;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.webBtn:focus,
.webBtn:hover {
    -webkit-transform: translateY(-1.5px);
    -ms-transform: translateY(-1.5px);
    -o-transform: translateY(-1.5px);
    transform: translateY(-1.5px);
    -webkit-box-shadow: 0 0 0 1px rgba(43, 45, 80, 0.1), 0 2px 5px 0 rgba(43, 45, 80, 0.1), 0 3px 9px 0 rgba(43, 45, 80, 0.08), 0 1px 1.5px 0 rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0 1px rgba(43, 45, 80, 0.1), 0 2px 5px 0 rgba(43, 45, 80, 0.1), 0 3px 9px 0 rgba(43, 45, 80, 0.08), 0 1px 1.5px 0 rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

/*
|----------------------------------------------------------------------
|       Body Inner Css
|----------------------------------------------------------------------
*/

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 16px;
}

img {
    width: 100%;
    display: block;
}

em {
    font-style: normal;
}

strong {
    font-family: 'semi';
    font-weight: normal;
}

input,
button,
select,
textarea {
    text-decoration: none !important;
    outline: none !important;
}

.ease,
body a,
body .webBtn {
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.contain,
.contain-fluid {
    position: relative;
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
    min-height: 1px;
}

.contain-fluid {
    max-width: 1600px;
}

.contain:before,
.contain:after,
.contain-fluid:before,
.contain-fluid:after {
    display: table;
    content: '';
}

.contain:after,
.contain-fluid:after {
    clear: both;
}

section {
    position: relative;
}

.flex {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.formRow {
    margin: 0 -5px;
}

.formRow [class*="col-"],
.formRow [class^="col-"] {
    padding: 0 5px;
}

.flexBox {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flexDv {
    width: 100%;
}

.flexRow {
    margin: 0 -10px;
}

.flexRow > .col {
    padding: 0 10px;
}

.bTn {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-flow: wrap;
    -moz-flex-flow: wrap;
    -ms-flex-flow: wrap;
    -o-flex-flow: wrap;
    flex-flow: wrap;
    margin: 0 -2px;
}

.bTn > * {
    margin: 2px;
}

.text-left.bTn,
.text-left .bTn {
    justify-content: flex-start;
}

.text-center.bTn,
.text-center .bTn {
    justify-content: center;
}

.text-right.bTn,
.text-right .bTn {
    justify-content: flex-end;
}

/*_____ upperlay _____*/

.upperlay {
    position: fixed;
    top: 106px;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: #000;
    opacity: 0;
    z-index: 28;
}

.upperlay.active {
    display: block;
}

/*
|----------------------------------------------------------------------
|       Popup
|----------------------------------------------------------------------
*/

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: #f8f9fa;*/
    background: rgba(25, 33, 37, 0.95);
    padding: 50px 0;
    overflow: auto;
    z-index: 101;
}

.popup ._inner {
    position: relative;
    max-width: 600px;
    background: #f7f8f9;
    background: #fff;
    padding: 15px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.popup.small-popup ._inner {
    max-width: 420px;
}

.popup ._inner h3 {
    background: #20607a;
    color: #fff;
    font-size: 16px;
    margin: -15px -15px 15px;
    padding: 15px 15px 14px;
    padding-right: 30px;
    border-radius: 4px 4px 0 0;
}

.popBtn {
    cursor: pointer;
}

.popup .crosBtn {
    position: absolute;
    top: 6px;
    right: 5px;
    width: 32px;
    height: 32px;
    background: #20607a;
    text-align: center;
    padding: 4px 0 0;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    z-index: 5;
}

.popup .crosBtn:before {
    content: '\2715';
}

/*
|----------------------------------------------------------------------
|       Dropdown
|----------------------------------------------------------------------
*/

.dropBtn {
    cursor: pointer;
}

.dropDown {
    position: relative;
    z-index: 1;
}

.dropCnt {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    margin-top: 10px;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.dropCnt.active {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
}

.dropLst {
    top: 20px;
    left: 0;
    z-index: 50;
    min-width: 160px;
    max-width: 260px;
    background: #fff;
    border-top: 3px solid #20607a;
    -webkit-box-shadow: rgba(21, 24, 68, 0.1) 0 0 20px 0;
    box-shadow: rgba(21, 24, 68, 0.1) 0 0 20px 0;
}

.dropLst > li,
.dropLst > li > a {
    display: block;
}

.dropLst > li > a {
    padding: 5px 12px 4px;
    border-bottom: 1px solid #f0f5f9;
    color: #4e566d;
}

.dropLst > li > a:hover {
    background: #fafafa;
}

/*_____ more _____*/

.more {
    position: relative;
    width: 20px;
    min-width: 20px;
    height: 20px;
    /*padding-bottom: 10px;*/
    margin: 0 auto;
    cursor: pointer;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.more > span,
.more > span:before,
.more > span:after {
    width: 3px;
    height: 3px;
    border-radius: 75%;
    background: #fff;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    z-index: 2;
}

.more > span:before,
.more > span:after {
    position: absolute;
    content: '';
}

.more > span:before {
    left: 0;
}

.more > span:after {
    right: 0;
}

.more:hover > span,
.more:hover > span:before,
.more:hover > span:after {
    background: #2b3a50;
}

/*
|----------------------------------------------------------------------
|       List (ol) (ul)
|----------------------------------------------------------------------
*/

._list {
    padding: 0;
    margin: 0;
}

._list > li {
    position: relative;
    display: block;
    padding-left: 12px;
    margin-bottom: 7px;
}

._list > li:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 6px;
    height: 6px;
    border: 1px solid #20607a;
    /*border-radius: 75%;*/
}

._list > li ._list {
    margin: 7px 0 10px;
}

._list2 {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

._list2 > li {
    position: relative;
    margin-bottom: 7px;
}

/*
|----------------------------------------------------------------------
|       Page Loader
|----------------------------------------------------------------------
*/

#pageloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background: #192125;
    z-index: 999999;
}

.loader {
    width: 40px;
    height: 40px;
    border: 4px solid #20607a;
    border-right: 0;
    border-radius: 75%;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

/*
|----------------------------------------------------------------------
|       Ico Css
|----------------------------------------------------------------------
*/

.ico,
.icon {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.ico {
    background: #20607a;
    border-radius: 75%;
    overflow: hidden;
}

.ico a,
.icon a {
    width: 100%;
    height: 100%;
    display: block;
}

.ico img,
.icon img {
    width: 100%;
    height: 100%;
    -o-object-position: center;
    object-position: center;
}

.ico img {
    -o-object-fit: cover;
    object-fit: cover;
}

.icon img {
    -o-object-fit: contain;
    object-fit: contain;
}

/*
|----------------------------------------------------------------------
|       RateYo
|----------------------------------------------------------------------
*/

.jq-ry-container {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    line-height: 0;
    direction: ltr;
}

.jq-ry-container[readonly="readonly"] {
    cursor: default;
}

.jq-ry-container > .jq-ry-group-wrapper {
    position: relative;
    width: 100%;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
    position: relative;
    line-height: 0;
    white-space: nowrap;
    z-index: 1;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group > svg {
    display: inline-block;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-normal-group {
    width: 100%;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-rated-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    z-index: 3;
}

/*
|----------------------------------------------------------------------
|       Editor
|----------------------------------------------------------------------
*/

.ckEditor h1,
.ckEditor h2,
.ckEditor h3,
.ckEditor h4,
.ckEditor h5,
.ckEditor h6 {
    margin: 15px 0;
}

.ckEditor h1 {
    font-size: 26px;
}

.ckEditor h2 {
    font-size: 22px;
}

.ckEditor h3 {
    font-size: 18px;
}

.ckEditor h4 {
    font-size: 14px;
}

.ckEditor ul:not([class]) > li > h1,
.ckEditor ul:not([class]) > li > h2,
.ckEditor ul:not([class]) > li > h3,
.ckEditor ul:not([class]) > li > h4,
.ckEditor ul:not([class]) > li > h5,
.ckEditor ul:not([class]) > li > h6,
.ckEditor ul:not([class]) > li > p {
    display: inline-block;
    margin: 0 !important;
    overflow: initial !important;
}

.ckEditor ul:not([class]),
.ckEditor ol:not([class]) {
    padding: 0;
    /*padding-left: 20px;*/
    margin: 0 0 10px;
    list-style-position: inside;
}

.ckEditor ul:not([class]) > li,
.ckEditor ol:not([class]) > li {
    display: list-item;
    margin-bottom: 7px;
}

.ckEditor ul:not([class]) > li ul,
.ckEditor ol:not([class]) > li ol {
    margin: 7px 0;
}

.ckEditor ul:not([class]) {
    list-style-type: disc;
}

.ckEditor ul:not([class]) > li ul {
    list-style-type: circle;
}

.ckEditor img {
    width: 100% !important;
    height: auto !important;
}

/*
|----------------------------------------------------------------------
|       Header
|----------------------------------------------------------------------
*/

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 106px;
    /*background: #192125;*/
    background: #fff;
    -webkit-box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    z-index: 30;
}

.logo {
    float: left;
    width: 100px;
    height: 106px;
    padding: 5px 0;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 1;
}

.logo > a {
    display: block;
}

nav {
    /*float: right;*/
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
    margin-left: 140px;
}

#nav,
#logged {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#nav {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

#nav > li,
#logged > li{
    position: relative;
}

#nav > li > a,
#logged > li > a {
    height: 36px;
    color: #2b3a50;
    /*color: #fff;*/
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.5px;
    padding: 9px 16px 0;
    padding-bottom: 20px !important;
    text-transform: uppercase;
}

#nav > li.active > a,
#nav > li:hover > a {
    color: #20607a !important;
}

/*#logged > li > a:hover {
    color: #20607a;
}*/

#logged > li.btnLi > a {
    background: #20607a;
    color: #fff !important;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
}

#logged > li.btnLi > a:hover {
    background: #192125;
    /*-webkit-box-shadow: inset #20607a 0 0 0 2px;*/
    /*box-shadow: inset #20607a 0 0 0 2px;*/
}

#nav > li.drop > a {
    position: relative;
    padding-right: 12px;
    margin-right: 8px;
}

#nav > li.drop > a:after {
    position: absolute;
    content: '\e9c9';
    top: 50%;
    right: -4px;
    font-size: 10px;
    font-family: 'font-icon';
    font-weight: bold;
    margin-top: -4px;
    line-height: 1;
}

#nav > li > .sub {
    position: absolute;
    top: 100%;
    left: 15px;
    width: 160px;
    background: #fff;
    text-align: left;
    margin-top: 10px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 1px rgba(136, 152, 170, 0.1), 0 15px 35px 0 rgba(49, 49, 93, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0 1px rgba(136, 152, 170, 0.1), 0 15px 35px 0 rgba(49, 49, 93, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

#nav > li:hover > .sub {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
}

#nav > li > .sub > li,
#nav > li > .sub > li > a {
    display: block;
}

#nav > li > .sub > li > a {
    background: #fff;
    color: #4e566d;
    font-size: 13px;
    padding: 8px 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
}

#nav > li > .sub > li > a:hover {
    color: #20607a;
}

/*_____ dot _____*/

.dot {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 5px;
    height: 5px;
    background: #43b753;
    margin: auto;
    border-radius: 75%;
}

.miniLbl {
    color: #fff;
    font-size: 9px;
    font-family: 'semi';
    padding: 3px 8px 3px;
    cursor: pointer;
    border-radius: 50px;
    white-space: nowrap;
}

.miniLbl:hover {
    /*-webkit-box-shadow: 0 0 0 1px rgba(49, 49, 93, .03), 0 2px 5px 0 rgba(49, 49, 93, .1), 0 1px 2px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 0 0 1px rgba(49, 49, 93, .03), 0 2px 5px 0 rgba(49, 49, 93, .1), 0 1px 2px 0 rgba(0, 0, 0, .08);*/
}

.green {
    background: #43b753;
}

.yellow {
    background: #ffcb00;
}

.red {
    background: #ff5465;
}

.blue {
    background: #2da5e0;
}

.gray {
    background: #aaa;
}

/*_____ proIco _____*/

header .proIco {
    float: right;
    margin-top: 39px;
    cursor: pointer;
}

header .proIco .inside {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .proIco strong {
    margin-right: 10px;
}

header .proIco .ico {
    width: 28px;
    height: 28px;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(59, 65, 94, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 2px 5px 0 rgba(59, 65, 94, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.07);
}

header .proIco .proDrop {
    top: 40px;
    left: initial;
    right: 0;
    width: 160px;
    background: #fff;
    border-radius: 4px;
    border-top-right-radius: 0;
    -webkit-box-shadow: 0 0 0 1px rgba(136, 152, 170, 0.1), 0 15px 35px 0 rgba(49, 49, 93, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0 1px rgba(136, 152, 170, 0.1), 0 15px 35px 0 rgba(49, 49, 93, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

header .proIco .proDrop:before,
header .proIco .proDrop:after {
    content: '';
    position: absolute;
    top: -10px;
    right: 0;
    border-bottom: 10px solid #fff;
    border-left: 12px solid transparent;
}

header .proIco .proDrop:after {
    top: -12px;
    right: -1px;
    border-bottom: 11px solid #eff0f2;
    border-left: 13.5px solid transparent;
    z-index: -1;
}

header .proIco .proDrop > li,
header .proIco .proDrop > li > a {
    display: block;
}

header .proIco .proDrop > li > a {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #666;
    font-size: 13px;
    padding: 9px 15px 8px;
    border-bottom: 1px solid #f0f5f9;
}

header .proIco .proDrop > li:nth-last-child(1) > a {
    border-bottom-color: transparent;
}

header .proIco .proDrop > li > a:hover {
    background: #fafafa;
    color: #20607a;
}

header .proIco .proDrop > li > a i {
    width: 20px;
    font-size: 16px;
    margin-right: 7px;
}

header .proIco .proDrop > li > a .miniLbl {
    margin-left: 10px;
}

header.fix {
    position: fixed;
}

/*
|----------------------------------------------------------------------
|       Banner
|----------------------------------------------------------------------
*/

#banner {
    min-height: 680px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 0;
    /*margin-top: -106px;*/
}

#banner:before {
    /*content: '';*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0a181d;
    opacity: 0.2;
    z-index: 1;
}

#banner:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    display: none;
    /*background-image: url('../images/curve.svg');*/
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    z-index: 1;
}

#banner .contain {
    z-index: 3;
}

#banner .content {
    max-width: 560px;
    margin: auto;
}

#banner .content h1 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-bottom: 15px;
}

#banner .content h1 > span {
    display: block;
    font-size: 60px;
    letter-spacing: 1px;
    /*margin-top: 10px;*/
}

#banner .content p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 25px;
}

/*_____ slider _____*/

#slider,
#slider .item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#slider .carousel-inner,
#slider .item {
    height: 100%;
}

#slider .item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#slider .carousel-indicators {
    /*bottom: 100px;*/
}

#slider .carousel-indicators li {
    width: 10px;
    height: 4px;
    margin: auto;
    border-width: 2px;
    transition: all ease 0.5s;
}

#slider .carousel-indicators li.active {
    width: 24px;
    height: 4px;
    margin: auto;
}

.carousel-fade .carousel-inner .item {
    opacity: 0.5;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0.5;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

/*_____ slider button _____*/

#slider .lBtn,
#slider .rBtn {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    z-index: 15;
}

#slider .lBtn {
    left: 0;
}

#slider .rBtn {
    right: 0;
}

#banner:hover .lBtn,
#banner:hover .rBtn {
    visibility: visible;
    opacity: 1;
}

#banner:hover .lBtn {
    left: 15px;
}

#banner:hover .rBtn {
    right: 15px;
}

#slider .lBtn .prev,
#slider .rBtn .next {
    position: static !important;
    width: 38px;
    height: 38px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 2px;
    border-radius: 75%;
    overflow: hidden;
}

#slider .lBtn .prev:hover,
#slider .rBtn .next:hover {
    background: #20607a;
    font-size: 20px;
}

/*_____ owl-nav _____*/

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: transparent;
    color: #20607a;
    font-size: 15px;
    padding-top: 1px;
    padding-left: 1px;
    margin-top: -20px;
    border: 2px solid #20607a;
    border-radius: 75%;
    -webkit-box-shadow: 0 5px 15px 0 rgba(28, 82, 95, 0.1), 0 6px 10px 0 rgba(25, 69, 88, 0.1);
    box-shadow: 0 5px 15px 0 rgba(28, 82, 95, 0.1), 0 6px 10px 0 rgba(25, 69, 88, 0.1);
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

/*_____ owl-dots _____*/

.owl-dots {
    text-align: center;
    position: relative;
    margin-top: 10px;
    line-height: 0;
    z-index: 5;
}

.owl-dots .owl-dot {
    display: inline-block;
    padding: 0 2px;
}

.owl-dots .owl-dot span {
    display: block;
    width: 10px;
    height: 4px;
    margin: auto;
    border: 2px solid #fff;
    border-radius: 50px;
    transition: all ease 0.5s;
}

.owl-dots .owl-dot.active span {
    width: 24px;
    height: 4px;
    margin: auto;
    border-color: #20607a;
}

/*
|----------------------------------------------------------------------
|       How it works
|----------------------------------------------------------------------
*/

#works {
    /*background: #f6faff;*/
    padding: 60px 0;
}

#works.worksInd {
    margin: -60px 0;
}

#works .content {
    max-width: 1000px;
    margin: auto;
}

#works .listing {
    text-align: center;
    margin: 30px -15px -15px;
    justify-content: center;
}

#works .listing > li {
    width: 33.3334%;
    padding: 15px;
}

#works .listing > li .inner {
    height: 100%;
    padding: 0 30px;
}

#works .listing > li .icon {
    width: 160px;
    height: 160px;
    margin: 0 auto 15px;
}

#works .listing > li h4 {
    font-size: 16px;
    margin: 0;
}

/*
|----------------------------------------------------------------------
|       join us
|----------------------------------------------------------------------
*/

#join {
    background: #e3e8ee;
    padding: 100px 0;
    /*padding-top: 130px;*/
}

#join:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: none;
    /*background-image: url('../images/curve.svg');*/
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    z-index: 1;
}

#join .contain {
    z-index: 3;
}

#join .flexRow {
    margin: -15px;
}

#join .flexRow > .col {
    padding: 15px;
}

#join .flexRow > .col1 {
    width: 30%;
}

#join .flexRow > .col2 {
    width: 70%;
    align-self: center;
}

#join .lst {
    text-align: center;
    justify-content: center;
}

#join .lst > li {
    width: 33.3334%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

#join .lst > li .inner {
    height: 100%;
    padding: 20px;
}

#join .lst > li .icon {
    width: 100px;
    height: 100px;
    margin: 0 auto 15px;
}

#join .lst > li .inner p {
    margin-bottom: 0;
}

#join .content .webBtn {
    height: 40px;
    background: transparent;
    font-size: 14px;
    color: #20607a !important;
    padding: 11px 30px 0;
    border-radius: 50px;
    -webkit-box-shadow: inset #20607a 0 0 0 2px;
    box-shadow: inset #20607a 0 0 0 2px;
}

/*
|----------------------------------------------------------------------
|       Studio
|----------------------------------------------------------------------
*/

#studio {
    min-height: 560px;
    padding: 80px 0;
}

#studio > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: -1;
}

#studio .flexRow {
    margin: -15px;
    justify-content: flex-end;
}

#studio .flexRow > .col {
    width: 40%;
    padding: 15px;
}

#studio .content h1,
#studio .content p {
    color: #fff;
}

/*
|----------------------------------------------------------------------
|       Surfboards
|----------------------------------------------------------------------
*/

#surfboards {
    background: #fff;
    padding: 60px 0;
    /*padding-bottom: 160px;*/
    /*margin-bottom: -60px;*/
}

#surfboards:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    display: none;
    /*background-image: url(../images/curve.svg);*/
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    /*-webkit-transform: rotate(180deg);*/
    /*-ms-transform: rotate(180deg);*/
    /*-o-transform: rotate(180deg);*/
    /*transform: rotate(180deg);*/
    z-index: 1;
}

#surfboards .inner {
    margin: 10px;
}

#surfboards .owl-dots .owl-dot span {
    border: 2px solid #aaa;
}

#surfboards .owl-dots .owl-dot.active span {
    border-color: #20607a;
}

#surfboards .bTn {
    margin-top: 20px;
}

/*
|----------------------------------------------------------------------
|       Price Plan
|----------------------------------------------------------------------
*/

#plan {
    /*background: #fff;*/
    padding: 60px 0;
    z-index: 2;
}

#plan .lst {
    margin: -15px -15px 15px;
    justify-content: center;
}

#plan .lst > li {
    width: 30%;
    padding: 15px;
}

.planBlk {
    height: 100%;
    background: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    -o-flex-flow: column;
    flex-flow: column;
    text-align: center;
    padding: 0 20px 20px;
    border-radius: 10px;
    /*-webkit-box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);*/
    /*box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);*/
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 40px 0;
    overflow: hidden;
}

.planBlk h3 {
    background: #1b304f;
    color: #fff;
    font-size: 20px;
    font-family: 'bold';
    text-transform: uppercase;
    padding: 30px 15px 30px;
    margin: 0 -20px 25px;
}

.planBlk .icon {
    color: #1b304f;
    font-size: 50px;
    line-height: 0;
    margin: 30px 0 20px;
}

.planBlk .price {
    color: #4e566d;
    font-size: 32px;
    line-height: 1;
}

.planBlk small {
    opacity: 0.5;
    font-family: 'bold';
}

.planBlk .list {
    margin: 10px 0 0;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

.planBlk .list > li {
    display: block;
    padding: 3px 0;
}

.planBlk .list > li em {
    color: #b9b9b9;
}

.planBlk .list > li:before {
    content: '\02143';
    position: relative;
    top: -2px;
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}

.planBlk .bTn {
    justify-content: center;
    margin-top: 20px;
}

.planBlk .bTn a {
    color: #1b304f;
}

.planBlk .bTn a i {
    position: relative;
    top: 2px;
    font-size: 14px;
}

/*
|----------------------------------------------------------------------
|       Locations
|----------------------------------------------------------------------
*/

#location {
    background: #fff;
    padding: 60px 0;
    /*padding-top: 160px;*/
    margin: 0 0 -80px;
}

#location:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: none;
    /*background-image: url(../images/curve.svg);*/
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    z-index: 1;
}

#location .contain {
    z-index: 3;
}

#location .flexRow {
    margin: -15px -40px;
    justify-content: center;
}

#location .flexRow > .col {
    width: 40%;
    padding: 15px 40px;
}

#location .icon {
    position: relative;
    padding-bottom: 60%;
    margin-bottom: 10px;
}

#location .icon img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
}

#location h3 {
    font-size: 16px;
    margin-bottom: 15px;
}

#location .lst {
    margin-bottom: 20px;
}

#location .lst > li {
    margin-bottom: 7px;
    display: block;
}

/*
|----------------------------------------------------------------------
|       Form
|----------------------------------------------------------------------
*/

label {
    display: block;
    font-family: 'semi';
    font-weight: normal;
    cursor: pointer;
}

label > a {
    color: #3c9cdb;
}

label > a:hover {
    color: #20607a;
}

.txtGrp {
    position: relative;
    margin-bottom: 15px;
}

.txtGrp h4 {
    font-size: 14px;
    margin-bottom: 5px;
}

.txtBox {
    display: block;
    width: 100%;
    height: 46px;
    background: #fff;
    color: #4e566d;
    font-size: 13px;
    text-align: left;
    padding: 5px 10px 6px;
    letter-spacing: 0.5px;
    border: 0;
    border-radius: 4px;
    outline: none !important;
    -webkit-box-shadow: 0 0 0 1px rgba(49, 49, 93, 0.03), 0 2px 5px 0 rgba(49, 49, 93, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0 1px rgba(49, 49, 93, 0.03), 0 2px 5px 0 rgba(49, 49, 93, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.txtBox:-webkit-autofill {
    -webkit-text-fill-color: #4e566d;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
}

textarea.txtBox {
    height: 152px;
    resize: none;
}

.txtBox:disabled {
    background: #e3e8ee;
    cursor: not-allowed;
    border-color: #d8dee6 !important;
}

.txtBox::-webkit-input-placeholder {
    color: #4e566d;
}

.txtBox:-ms-input-placeholder {
    color: #4e566d;
}

.txtBox::-ms-input-placeholder {
    color: #4e566d;
}

.txtBox::placeholder {
    color: #4e566d;
}

.txtBox:focus::-webkit-input-placeholder {
    opacity: 0.5;
}

.txtBox:focus:-ms-input-placeholder {
    opacity: 0.5;
}

.txtBox:focus::-ms-input-placeholder {
    opacity: 0.5;
}

.txtBox:focus::placeholder {
    opacity: 0.5;
}

.txtBox:hover,
.txtBox:focus {
    border-color: #20607a;
}

input[type="checkbox"] {
    position: relative;
    top: 4px;
    width: 18px;
    height: 18px;
    display: inline;
    margin-top: 0;
    cursor: pointer;
}

input[type="checkbox"]:before,
input[type="checkbox"]:after {
    position: absolute;
    content: '';
    color: inherit;
    -webkit-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

input[type="checkbox"]:before {
    content: '';
    top: 7px;
    left: 6px;
    font-size: 12px;
    line-height: 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    z-index: 1;
}

input[type="checkbox"]:after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
}

input[type="checkbox"]:checked {
    color: #20607a;
}

input[type="checkbox"]:checked:before {
    content: '\02143';
}

input[type="checkbox"]:checked:after {
    border-color: #20607a;
}

input[type="radio"] {
    position: relative;
    top: 3px;
    width: 15px;
    height: 15px;
    display: inline;
    margin-top: 0;
    cursor: pointer;
}

input[type="radio"]:before,
input[type="radio"]:after {
    content: '';
    position: absolute;
    background: #ccc;
    color: #20607a;
    border-radius: 75%;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

input[type="radio"]:before {
    width: 7px;
    height: 7px;
    margin-top: 4px;
    margin-left: 4px;
    border-radius: 75%;
    z-index: 1;
}

input[type="radio"]:after {
    width: 15px;
    height: 15px;
    background: #fff;
    border: 1px solid #ddd;
}

input[type="radio"]:checked:before {
    background: #20607a;
}

input[type="radio"]:checked:after {
    border-color: #20607a;
}

.lblBtn {
    text-align: left;
}

.lblBtn label {
    display: inline !important;
    position: relative;
    top: 0;
    font-family: 'regular';
    cursor: pointer;
    line-height: 20px;
    padding-left: 5px;
}

input[type="file"].uploadFile {
    display: none;
}

.uploadImg {
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*
|----------------------------------------------------------------------
|       Footer
|----------------------------------------------------------------------
*/

footer {
    position: relative;
    background: #293940;
    color: #95a5a6;
    font-size: 14px;
    padding: 50px 0 40px;
    margin-top: 60px;
}

footer .footerLogo {
    max-width: 130px;
    margin: 0 auto 30px;
}

footer .footerLogo img {
    -webkit-filter: brightness(0) invert(1);
    -o-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

footer a:hover {
    color: #fff !important;
}

footer .lst {
    margin: -5px -15px;
    justify-content: center;
}

footer .lst > li {
    font-size: 16px;
    padding: 5px 25px;
}

footer .lst > li > a {
    color: #95a5a6;
}

footer p.small {
    max-width: 460px;
    font-size: 12px;
    margin: 30px auto 20px;
}

footer .social {
    margin: -3px -7px;
    align-items: center;
    justify-content: center;
}

footer .social li {
    color: #fff;
    font-size: 11px;
    padding: 3px 7px;
}

footer .social li a {
    color: #95a5a6;
    font-size: 16px;
}

footer .social li a:hover {
    color: #20607a;
}

.youtube {
    background: #c3181e;
}

.facebook {
    background: #3b5998;
}

.twitter {
    background: #1da1f2;
}

.linkedin {
    background: #0177b5;
}

.pinterest {
    background: #bd081c;
}

.google {
    background: #d14639;
}

.dribbble {
    background: #ea4c89;
}

.instagram {
    background: radial-gradient(ellipse at 20% 90%,#ee583f 5%,#d92d77 35%,#bd3381 60%, #4c68d7 100%);
}

/*_____ Copyright _____*/

.copyright {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 40px;
}

.copyright:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: #fff;
    opacity: 0.08;
}

.copyright .list {
    background: #293940;
    margin: -2px -5px;
    padding: 3px 20px;
}

.copyright .list > li {
    font-size: 12px;
    padding: 2px 5px;
}

.copyright .list > li > a {
    color: #95a5a6;
}

.copyright .list > li:nth-child(1) > a {
    color: #fff;
    text-decoration: underline;
}

/*
|----------------------------------------------------------------------
|       Sub Banner
|----------------------------------------------------------------------
*/

#sBanner {
    min-height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0 40px;
    margin-bottom: 60px;
}

#sBanner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0a181d;
    opacity: 0.2;
    z-index: 1;
}

#sBanner .contain {
    z-index: 3;
}

#sBanner .content {
    max-width: 700px;
    color: #fff;
    text-align: center;
    margin: auto;
}

#sBanner .content h1 {
    color: #fff;
    font-size: 32px;
    font-family: 'black';
    text-transform: uppercase;
}

#sBanner .content ul > li {
    color: #fff;
    font-size: 13px;
    padding: 0 3px;
}

#sBanner .content ul > li:after {
    content: '/';
    margin-left: 10px;
}

#sBanner .content ul > li:nth-last-child(1):after {
    display: none;
}

#sBanner .content ul > li > a {
    color: #fff;
}

#sBanner .content ul > li > a:hover {
    /*color: #20607a;*/
    opacity: 0.7;
}

/*
|----------------------------------------------------------------------
|       About us
|----------------------------------------------------------------------
*/

#about {
    margin: -60px 0 -50px;
}

#about .block {
    padding: 50px 0;
}

#about .block .secHeading {
    font-size: 28px;
}

#about .company {
    background: #fff;
}

#about .company .content,
#about .contactUs .content {
    max-width: 700px;
    font-size: 15px;
    margin: auto;
}

#about .weAre .lst {
    margin: 10px -10px -10px;
    justify-content: center;
}

#about .weAre .lst > li {
    width: 30%;
    padding: 10px;
}

#about .weAre .inner {
    padding: 0 20px;
}

#about .weAre .inner .icon {
    width: 160px;
    height: 160px;
    margin: 0 auto 15px;
}

#about .weAre .inner h3 {
    font-size: 18px;
    font-family: 'fancy';
}

#about .weAre .smCntnt {
    max-width: 700px;
    margin: 30px auto 0;
}

#about .founder {
    position: relative;
    background: #e3e8ee;
    padding: 50px 0;
    /*margin: -50px 0;*/
}

#about .founder:before,
#about .founder:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;
    display: none;
   /* background-image: url('../images/curve.svg');*/
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    z-index: 1;
}

#about .founder:before {
    top: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#about .founder:after {
    bottom: 0;
}

#about .founder .contain {
    z-index: 3;
}

#about .founder .founderLst {
    margin: -20px -15px;
    justify-content: center;
}

#about .founder .founderLst > li {
    width: 70%;
    padding: 20px 15px;
}

#about .founder .inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

#about .founder .inner .ico {
    width: 160px;
    min-width: 160px;
    height: 160px;
    background: #fff;
    margin-right: 30px;
    -webkit-box-shadow: 0 0 0 1px rgba(49, 49, 93, 0.03), 0 2px 5px 0 rgba(49, 49, 93, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0 1px rgba(49, 49, 93, 0.03), 0 2px 5px 0 rgba(49, 49, 93, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

#about .founder .inner h3 {
    font-size: 20px;
    font-family: 'fancy';
}

#about .founder .inner h3 span {
    display: block;
    font-size: 16px;
    font-family: 'regular';
    opacity: 0.7;
    margin-top: 5px;
}

/*
|----------------------------------------------------------------------
|       Contact Us
|----------------------------------------------------------------------
*/

#contact {
    padding-top: 20px;
}

#contact .flexRow {
    margin: -15px;
}

#contact .flexRow > .col {
    padding: 15px;
}

#contact .flexRow > .col1 {
    width: 35%;
}

#contact .flexRow > .col2 {
    width: 65%;
}

#contact h3 {
    color: #20607a;
    font-size: 18px;
}

#contact .content h4 {
    font-size: 16px;
    margin-top: 20px;
}

#contact .content .inFo > li {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 8px;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#contact .content .inFo > li i {
    width: 20px;
    text-align: center;
    margin-right: 5px;
}

/*
|----------------------------------------------------------------------
|       Terms
|----------------------------------------------------------------------
*/

#terms {
    /*margin-top: -20px;*/
}

#terms .blk {
    max-width: 1000px;
    margin: auto;
}

#terms .blk > ._header > h3 {
    font-size: 18px !important;
    margin: 0 !important;
}

#terms h3 {
    color: #20607a;
    font-size: 16px;
    margin: 20px 0 20px;
}

#terms p {
    margin-bottom: 20px;
}

#terms strong {
    font-family: 'semi';
}

/*
|----------------------------------------------------------------------
|       Frequently Asked Questions
|----------------------------------------------------------------------
*/

.faqLst {
    max-width: 1000px;
    margin: auto;
}

.faqLst > li {
    position: relative;
    display: block;
    background: #fff;
    padding: 16px 15px 6px;
    margin-bottom: 7px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.faqLst > li:nth-last-child(1) {
    margin-bottom: 0;
}

.faqLst > li h3 {
    position: relative;
    color: #20607a;
    font-size: 16px;
    font-family: 'regular';
    padding-right: 20px;
    cursor: pointer;
    z-index: 2;
}

.faqLst > li .cntnt {
    display: none;
}

.faqLst > li:nth-child(1) .cntnt {
    display: block;
}

.faqLst > li i {
    position: absolute;
    top: 18px;
    right: 10px;
    color: #4e566d;
}

/*
|----------------------------------------------------------------------
|       Work Page
|----------------------------------------------------------------------
*/

#works.worksPg {
    padding: 20px 0 0;
    margin: -60px 0;
}

#works.worksPg .listing {
    margin-top: 0;
    margin-bottom: 15px;
}

#works .block {
    padding: 60px 0;
}

/*_____ whyUs _____*/

#works .whyUs {
    position: relative;
    background: #f1f4f7;
    padding: 60px 0;
    /*margin: -40px 0 -60px;*/
}

#works .whyUs:before,
#works .whyUs:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;
    display: none;
    /*background-image: url('../images/curve.svg');*/
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    z-index: 1;
}

#works .whyUs:before {
    top: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#works .whyUs:after {
    bottom: 0;
}

#works .whyUs .lst {
    max-width: 1000px;
    margin: -15px auto 15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#works .whyUs .lst > li {
    width: 25%;
    padding: 25px 15px;
}

#works .whyUs .lst > li .inner {
    /*padding: 0 20px;*/
}

#works .whyUs .lst > li .icon {
    width: 80px;
    min-width: 80px;
    margin: 0 auto 15px;
}

#works .whyUs .cntnt {
    width: 100%;
}

#works .whyUs .cntnt h3 {
    font-size: 18px;
}

#works .whyUs .cntnt p {
    margin: 0;
}

#works .working h5 {
    color: #a8a8a8;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

/*_____ contactUs _____*/

#works .contactUs .content {
    max-width: 700px;
    font-size: 15px;
    margin: auto;
}

/*
|----------------------------------------------------------------------
|       Why Join Page
|----------------------------------------------------------------------
*/

#whyJoin .lst {
    text-align: center;
    margin: -25px -15px 15px;
    justify-content: center;
}

#whyJoin .lst > li {
    width: 25%;
    padding: 25px 15px;
}

#whyJoin .lst > li .inner {
    height: 100%;
    /*padding: 0 30px;*/
}

#whyJoin .lst > li .icon {
    width: 120px;
    height: 120px;
    margin: 0 auto 15px;
}

#whyJoin .lst > li h4 {
    font-size: 16px;
}

/*
|----------------------------------------------------------------------
|       Plan Page
|----------------------------------------------------------------------
*/

#plan.planPg {
    padding: 20px 0 0;
}

#plan.planPg hr {
    margin: 40px 0;
}

#plan.planPg .lst {
    margin: -15px;
}

#plan.planPg .lst2 > li {
    width: 25%;
}

.planBlk.planSmall {
    padding-top: 20px;
}

.planBlk.planSmall small {
    display: block;
    font-size: 18px;
    font-family: regular;
    margin-top: 10px;
}

/*
|----------------------------------------------------------------------
|       Browse Surfboard
|----------------------------------------------------------------------
*/

#browse .topHead {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid #eee;
}

#browse .topHead h2 {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    font-size: 26px;
    margin: 0;
    margin-right: 15px;
}

#browse .srchBlk {
    background: #e3e8ee;
    padding: 20px 0;
    margin-bottom: 40px;
}

#browse #filters {
    display: none;
    background: #fff;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 1px rgba(49, 49, 93, 0.03), 0 2px 5px 0 rgba(49, 49, 93, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0 1px rgba(49, 49, 93, 0.03), 0 2px 5px 0 rgba(49, 49, 93, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

#browse .filterLst {
    margin: -10px -10px 10px;
}

#browse .filterLst > li {
    width: 20%;
    padding: 10px;
}

#browse .filterLst > li > h4 {
    font-size: 14px;
    margin: 0 0 5px;
}

/*#browse .irs-with-grid {
    margin-top: 18px;
}

#browse .irs-max,
#browse .irs-min {
    top: -14px;
    font-size: 10px;
}

#browse .irs-from,
#browse .irs-single,
#browse .irs-to {
    top: -18px;
    //background: #20607a;
    background: #283045;
    font-size: 10px;
}*/

/*_____ srchBar _____*/

.srchLst {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    margin: -2px;
}

.srchLst > li {
    width: 20%;
    padding: 2px;
}

.srchLst > li:nth-child(1) {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

.srchLst > li:nth-last-child(1) {
    width: auto;
}

.srchLst > li .txtBox,
.srchLst > li .webBtn {
    height: 64px;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#browse .srchBlk .srchLst > li .txtBox {
    background: rgba(255, 255, 255, 0.025);
    font-size: 16px;
    padding: 10px 20px;
}

.srchLst > li .webBtn {
    padding-top: 30px;
}

.srchLst > li .webBtn i {
    font-size: 38px;
}

#browse .lst {
    margin: -20px -15px;
    justify-content: center;
}

#browse .lst > li {
    width: 25%;
    padding: 20px 15px;
}

/*_____ iTm _____*/

.iTm {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.iTm .image {
    position: relative;
    width: 100%;
   
    border-radius: 4px;
    box-shadow: 0 3px 10px 0 rgba(59, 65, 94, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.07);
    overflow: hidden;
}

.iTm .image > a {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.iTm .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.iTm .txt {
    padding: 10px 15px 0;
}

.iTm .txt h4 {
    font-size: 16px;
    text-align: center;
}

.iTm .txt .ltr,
.iTm .txt .specs {
    color: #aaa;
    font-size: 16px;
}

.iTm .txt .bTn {
    margin-top: 10px;
}

/*
|----------------------------------------------------------------------
|       Product Detail
|----------------------------------------------------------------------
*/

#proDetail {
    background: #fff;
    margin: -60px 0 0px;
    padding: 0px 0;
}

#proDetail:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    display: none;
    /*background-image: url('../images/curve.svg');*/
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    z-index: 1;
}

#proDetail .flexRow {
    justify-content: center;
    margin: -15px;
}

#proDetail .flexRow > .col {
    padding: 15px;
}

#proDetail .flexRow > .col1 {
    width: 40%;
}

#proDetail .flexRow > .col2 {
    width: 54%;
}

#proDetail .content h2 {
    font-size: 24px;
}

#proDetail h6 {
    font-size: 14px;
    margin-right: 15px;
    margin-bottom: 0;
}

#proDetail .itemPrice {
    color: #ff9103;
    font-size: 30px;
}

#proDetail .itemPrice del {
    color: #aaa;
    font-size: 24px;
    margin-left: 10px;
}

#proDetail .avail {
    font-size: 14px;
    margin-top: 10px;
}

#proDetail .location {
    font-size: 16px;
}

#proDetail form .btnLst {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: -5px;
}

#proDetail form .btnLst > li {
    padding: 5px;
}

#proDetail form .btnLst > li:nth-child(1) {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

#proDetail .miniSlider {
    max-width: 360px;
    margin: auto;
}

/*_____ miniSlider _____*/

.miniSlider {
    opacity: 0;
}

.miniSlider .lSSlideWrapper {
    border: 1px solid #eee;
    border-radius: 4px;
    overflow: hidden;
}

.miniSlider #lightSlider li {
    /*height: 380px !important;*/
    background: #fff;
    text-align: center;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.miniSlider #lightSlider li img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.lSSlideOuter .lSPager.lSGallery {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.lSSlideOuter .lSPager.lSGallery li {
    height: 80px;
    border: 1px solid transparent;
    border-radius: 0 !important;
    opacity: 1;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.lSSlideOuter .lSPager.lSGallery li.active a,
.lSSlideOuter .lSPager.lSGallery li:hover a {
    border: 1px solid #20607a;
}

.lSSlideOuter .lSPager.lSGallery li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    background: #fff;
    border: 1px solid #eee;
}

.miniSlider .lSAction {
    display: none !important;
}

.lg-outer #lg-share,
.lg-outer .lg-autoplay-button {
    display: none !important;
}

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
    border-color: #20607a !important;
}

#proDetail .faqLst {
    max-width: 800px;
    margin: auto;
}

/*_____ similar _____*/

#similar .inner {
    margin: 10px;
}

#similar .owl-dots .owl-dot span {
    border: 2px solid #aaa;
}

#similar .owl-dots .owl-dot.active span {
    border-color: #20607a;
}

/*
|----------------------------------------------------------------------
|       Credit Card
|----------------------------------------------------------------------
*/

#credit .inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

#credit .inner .planBlk {
    width: 320px;
    min-width: 320px;
    /*height: auto;*/
    margin-right: 25px;
    border-radius: 4px;
    box-shadow: 0 3px 10px 0 rgba(59, 65, 94, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.07);
}

#credit .inner .content {
    width: 100%;
    max-width: 600px;
}

#credit .inner .creditBlk,
#credit .inner .couponCode {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 3px 10px 0 rgba(59, 65, 94, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.07);
    overflow: hidden;
}

#credit .inner .topHead {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 15px;
}

#credit .inner .btmHead {
    margin-bottom: 0;
}

#credit .inner .topHead h2 {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    font-size: 20px;
    margin: 0;
    margin-right: 15px;
}

#credit .inner .topHead .cardLst > li {
    margin-left: 2px;
}

#credit .inner .topHead .cardLst > li > img {
    width: 26px;
}

#credit .couponCode th {
    font-size: 16px;
    font-weight: normal;
}

#credit .couponCode td {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

#credit .couponBlk {
    margin-bottom: 15px;
}

#credit .couponBlk {
    min-width: 120px;
}

#credit .couponBlk .txtBox {
    height: 36px;
    font-weight: normal;
}

/*
|----------------------------------------------------------------------
|       Block
|----------------------------------------------------------------------
*/

.blk {
    background: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.blk ._header,
.blk ._footer {
    position: relative;
    background: #f7fafc;
    padding: 20px 20px 18px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.blk ._header {
    margin: -20px -20px 20px;
    border-bottom: 1px solid #f0f5f9;
    border-radius: 4px 4px 0 0;
}

.blk ._footer {
    margin: 15px -20px -20px;
    border-top: 1px solid #f0f5f9;
    border-radius: 0 0 4px 4px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.blk ._header h3 {
    font-size: 16px;
    /*font-family: 'regular';*/
    margin-bottom: 0;
    margin-right: 30px;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}

.blk ._header h3 > span {
    color: #20607a;
}

.blk ._header .srch {
    width: 280px;
}

/*_____ Pagination _____*/

ul.pagination {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px auto 0 !important;
    border-radius: 0;
}

ul.pagination > li {
    display: block;
}

ul.pagination > li > a {
    position: relative;
    float: none;
    min-width: 36px;
    height: 36px;
    display: block;
    background: transparent;
    color: #4e566d;
    font-family: 'semi';
    text-align: center;
    padding: 8px 8px 0;
    margin: 0 -5px;
    border: 0;
    border-radius: 4px !important;
}

ul.pagination > li > a > i {
    margin: 0 -10px;
}

ul.pagination > li > a:hover {
    background: #f5f5f5;
    color: #2b3a50;
    z-index: 1;
}

ul.pagination > li > a.active {
    background: #20607a;
    color: #fff;
    margin: 0 5px;
    z-index: 2;
}

/*
|----------------------------------------------------------------------
|       Login Page
|----------------------------------------------------------------------
*/

#logOn {
    min-height: 100vh;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    background: #edf8fc;
    padding: 50px 0;
    margin-top: -106px;
}

#logOn:before,
#logOn:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;
    display: none;
    /*background-image: url('../images/curve.svg');*/
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    z-index: 1;
}

#logOn:before {
    top: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#logOn:after {
    bottom: 0;
}

#logOn .contain {
    z-index: 3;
}

#logOn h2 {
    font-size: 16px;
    font-family: 'regular';
    text-align: center;
    margin-bottom: 15px;
}

#logOn .logBlk .haveAccount,
#logOn .logBlk .haveAccount a,
#logOn .logBlk .miniNav li a {
    /*color: #fff;*/
}

.logBlk {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.logBlk .loginLogo {
    width: 110px;
    margin: 0 auto 15px;
}

.logBlk form {
    position: relative;
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    z-index: 2;
}

.logBlk p {
    text-align: center;
}

.logBlk .rememberMe {
    font-size: 13px;
    margin: 0 0 10px;
}

.logBlk .rememberMe .lblBtn {
    margin-top: -4px;
    text-align: center;
}

.logBlk .confirm {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.socialBtn .facebookBtn {
    background: #3b5998 !important;
}

.socialBtn .googleBtn {
    background: #d34836 !important;
}

.logBlk .socialBtn .webBtn {
    display: block;
    color: #fff !important;
    margin: 5px 0;
}

.logBlk .socialBtn .webBtn i {
    top: 0;
    margin-right: 5px;
    font-size: inherit;
}

.logBlk .webBtn {
    width: 100%;
}

.logBlk .haveAccount {
    font-size: 13px;
    margin-top: 15px;
}

.logBlk .miniNav {
    margin-top: 5px;
    text-align: center;
}

.logBlk .miniNav li {
    padding: 0 5px;
}

.logBlk .miniNav li a {
    font-size: 12px;
}

.logBlk .miniNav li a:hover,
.logBlk .haveAccount a:hover {
    color: #20607a !important;
}

.logBlk .socialLnks > li > a {
    width: 32px;
    height: 32px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding-top: 7px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 75%;
}

.logBlk .socialLnks > li > a:hover {
    -webkit-filter: brightness(1.2);
    -o-filter: brightness(1.2);
    filter: brightness(1.2);
}

/*_____ oR Line _____*/

.oRLine {
    position: relative;
    text-align: center;
    margin: 8px 0 10px;
}

.oRLine span {
    position: relative;
    background: #fff;
    color: #aaa;
    font-size: 10px;
    font-family: 'semi';
    padding: 0 6px 0;
    z-index: 2;
}

.oRLine:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 1px;
    background: #ddd;
}

/*
|----------------------------------------------------------------------
|       Dashboard
|----------------------------------------------------------------------
*/

#dash {
    left: 0;
}

#dash .mainBlk {
    max-width: 900px;
    margin: auto;
}

/*_____ topnav _____*/

#topnav {
    position: relative;
    left: 0;
    right: 0;
    background: #e3e8ee;
    margin-bottom: 40px;
    z-index: 28;
}

#topnav .inside {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    overflow: hidden;
}

#owl-navigation .owl-stage-outer {
    text-align: center;
}

#owl-navigation .owl-stage {
    display: table;
    /*margin: auto;*/
}

#owl-navigation .owl-item {
    display: table-cell;
    float: none;
}

#owl-navigation .owl-item a {
    height: 50px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #2b3a50;
    padding: 5px 15px;
    white-space: nowrap;
    table-layout: fixed;
}

#owl-navigation .owl-item a:hover,
#owl-navigation .owl-item a.active {
    color: #20607a;
}

#owl-navigation .owl-item a .miniLbl {
    position: relative;
    top: -4px;
    right: 2px;
    font-size: 9px;
    border-radius: 50px;
}

#topnav .inside h6 {
    font-size: 16px;
    align-self: center;
    white-space: nowrap;
    margin: 0;
    margin-left: 15px;
}

#topnav .inside h6 > a {
    background: #20607a;
    padding: 6px 15px;
    border-radius: 4px;
    color: #fff;
}

#topnav .inside h6 > a:hover {
    background: #293940;
}

/*_____ dashboard _____*/

form fieldset {
    display: none;
}

form fieldset:nth-child(1),
form fieldset:nth-of-type(1) {
    display: block;
}

form .formBlk {
    max-width: 800px;
    margin: 0 auto;
}

form .formBlk .proDp.ico {
    margin: auto;
}

/*_____ popup list _____*/

.popup .list > li {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}

.popup .list > li strong {
    width: 100px;
    min-width: 100px;
    margin-right: 10px;
}

.popup .list > li span {
    width: 100%;
}

.popup .blockLst {
    margin: -15px;
}

/*_____ blockLst _____*/

.blk .blockLst {
    margin: -20px;
}

.blockLst > table {
    width: 100%;
}

.blockLst > table tr > * {
    padding: 15px 7px;
    border-bottom: 1px solid #eee;
}

.blockLst > table tr > *:nth-child(1) {
    padding-left: 20px;
}

.blockLst > table tr > *:nth-last-child(1) {
    padding-right: 20px;
}

.blockLst > table tr:nth-last-child(1) > * {
    border-bottom: 0;
}

.blockLst > table tr .icoBlk {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.blockLst > table tr .ico {
    width: 46px;
    min-width: 46px;
    height: 46px;
    background: #fff;
    margin-right: 10px;
    -webkit-box-shadow: 0 0 0 1px rgba(49, 49, 93, 0.03), 0 2px 5px 0 rgba(49, 49, 93, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0 1px rgba(49, 49, 93, 0.03), 0 2px 5px 0 rgba(49, 49, 93, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

.blockLst > table tr .name,
.blockLst > table tr .days,
.blockLst > table tr .orderId {
    font-family: 'semi';
}

.blockLst > table tr .name .email {
    display: block;
    font-size: 12px;
    opacity: 0.7;
}

.blockLst > table tr .bTn {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: -2px;
}

.blockLst > table tr .bTn > * {
    margin: 2px;
}

.blockLst > table tr .webBtn {
    /*border-radius: 50px;*/
    white-space: nowrap;
}

.blockLst > table tr input[type="radio"],
.blockLst > table tr input[type="checkbox"] {
    top: 0;
    margin-right: 10px;
}

.blockLst > table tr .dropDown {
    z-index: initial;
}

.blockLst > table tr .dropDown .moreLink {
    position: absolute;
    top: -10px;
    left: initial;
    right: -26px;
    z-index: 10;
}

.blockLst > table tr .dropDown .moreLink li {
    display: block;
    padding: 2px;
}

.blockLst > table tr .dropDown .moreLink li a {
    position: relative;
    width: 34px;
    height: 34px;
    background: #fff;
    color: #2b3a50;
    font-size: 13px;
    text-align: center;
    padding-top: 8px;
    border: 1px solid #ddd;
    border-radius: 75%;
}

.blockLst > table tr .dropDown .moreLink li a:hover {
    background: #20607a;
    color: #fff;
    border-color: transparent;
}

.blockLst > table tr .more > span,
.blockLst > table tr .more > span:before,
.blockLst > table tr .more > span:after {
    background: #4e566d;
}

/*_____ reservation _____*/

#reservation.mainBlk {
    max-width: none;
}

#reservation .blockLst {
    margin-bottom: 20px;
}

#reservation .blockLst > table tr > * {
    border-bottom: 1px solid #eee;
}

#reservation .blk ._header h3 {
    -webkit-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    -o-flex: none;
    flex: none;
}

#reservation .blk ._header .bTn {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    margin-right: 10px;
}

#reservation .nav-tabs {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    margin-bottom: 0;
    border-bottom: 0;
}

#reservation .nav-tabs > li {
    display: block;
    margin-bottom: -1px;
}

#reservation .nav-tabs > li > a {
    display: block;
    background: transparent;
    color: #bbb;
    font-size: 13px;
    padding: 4px 14px;
    margin-left: 3px;
    margin-right: 0;
    border: 2px solid;
    border-radius: 4px !important;
}

#reservation .nav-tabs > li a:hover {
    color: #1b304f;
}

#reservation .nav-tabs > li.active > a {
    background: #20607a;
    color: #fff;
    border-color: #20607a;
}

#reservation .days {
    position: relative;
    cursor: pointer;
    transition: all ease 0.5s;
}

#reservation .days .dayLst {
    position: absolute;
    top: 100%;
    left: -10px;
    background: #fff;
    margin-top: 5px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 40px 0;
    transition: all ease 0.5s;
    z-index: 1;
}

#reservation .days:hover .dayLst {
    opacity: 1;
    visibility: visible;
}

#reservation .days .dayLst > li {
    display: block;
    font-size: 12px;
    font-family: 'regular';
    padding: 6px 10px;
    border-bottom: 1px solid #eee;
    white-space: nowrap;
}

#reservation .days .dayLst > li:nth-last-child(0) {
    border-bottom-color: transparent;
}

#reservation .blockLst tr .webBtn {
    background: #e63143;
    color: #fff !important;
    border-radius: 50px;
}

/*_____ packages _____*/

#packages h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

#packages .lst {
    /*margin: -15px;*/
    justify-content: center;
}

#packages .lst > li {
    width: 50%;
    padding: 15px;
}

#packages .planBlk {
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 30px 0;
}

#packages .planBlk.selected {
    border: 2px solid #43b753;
}

#packages .planBlk.selected .bTn a {
    color: #43b753;
}

#packages hr {
    margin: 40px 0;
}

/*_____ profileSet _____*/

#profileSet {
    max-width: none !important;
}

#profileSet .flexRow > .col {
    width: 100%;
}

#profileSet .changePass .content {
    font-size: 13px;
    margin-bottom: 20px;
}

#dash .proDp.ico {
    margin: auto;
}

/*_____ proDp  _____*/

.proDp.ico {
    position: relative;
    width: 140px;
    height: 140px;
    background: #fff;
    cursor: pointer;
    -webkit-box-shadow: 0 0 0 1px rgba(49, 49, 93, 0.03), 0 2px 5px 0 rgba(49, 49, 93, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0 1px rgba(49, 49, 93, 0.03), 0 2px 5px 0 rgba(49, 49, 93, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

.proDp.ico .icoMask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    color: #2b3a50;
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
    text-align: center;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.proDp.ico .icoMask i {
    font-size: 26px;
    margin: 0 0 4px;
}

.proDp.ico:hover .icoMask {
    color: #20607a;
}

/*
|----------------------------------------------------------------------
|       404 Not Found
|----------------------------------------------------------------------
*/

#not404 {
    min-height: 100vh;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    background: #edf8fc;
    padding: 50px 0;
    margin-top: -106px;
}

#not404:before,
#not404:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;
    display: none;
   /* background-image: url('../images/curve.svg');*/
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    z-index: 1;
}

#not404:before {
    top: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#not404:after {
    bottom: 0;
}

#not404 .contain {
    z-index: 3;
}

#not404 .inside {
    max-width: 460px;
    text-align: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin: auto;
}

#not404 .inside .ico {
    background: transparent;
    color: #fff02a;
    font-size: 140px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 0;
    line-height: 0;
    overflow: initial;
}

#not404 .inside .ico span {
    display: block;
    background: -webkit-linear-gradient(left, #e22a6f, #fe6666);
    background: -o-linear-gradient(left, #e22a6f, #fe6666);
    background: linear-gradient(to right, #e22a6f, #fe6666);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #e22a6f;
    line-height: 1;
}

#not404 .inside h2 {
    font-size: 20px;
}

#not404 .inside p {
    margin-bottom: 0;
}

#not404 .inside p > span {
    display: block;
}

#not404 .inside p a {
    color: #20607a;
    text-decoration: underline;
}

/**/
.non-background{
	background:none !important;
}
.steps span {
    font-size: 18px;
}
.steps {
    font-size: 17px;
    padding: 5px 0px;
    font-weight: bold;
	margin-top: 15px;
}
.steps a {
    margin-right: 2%;
}