/*
|----------------------------------------------------------------------
|       Media Queries
|----------------------------------------------------------------------
*/

@media screen and (min-width:1600px) {}

@media screen and (min-width:1200px) {}

@media screen and (min-width:992px) and (max-width:1200px) {
    /*_____ Home _____*/
    #plan .lst > li {
        width: 36%;
    }
    #location .flexRow > .col {
        width: 25%;
    }
    /*_____ Common _____*/
    #whyJoin .lst > li {
        width: 33.3334%;
    }
}

@media screen and (max-width:1200px) {
    /*_____ Navigation _____*/
    header {
        position: fixed;
    }
    .toggle {
        display: block;
    }
    .toggle.active {
        top: 0;
    }
    .logo {
        float: none;
        position: absolute;
        left: 40px;
        right: 40px;
    }
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        margin: 0 !important;
        padding: 40px 20px;
        -webkit-flex-flow: wrap;
        -moz-flex-flow: wrap;
        -ms-flex-flow: wrap;
        -o-flex-flow: wrap;
        flex-flow: wrap;
        opacity: 0;
        visibility: hidden;
        overflow: auto;
        z-index: 3;
    }
    nav.active {
        opacity: 1;
        visibility: visible;
    }
    nav > ul {
        width: 100%;
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        -o-flex-flow: column;
        flex-flow: column;
    }
    #logged {
        margin-top: 20px;
    }
    #nav > li > a,
    #logged > li > a {
        height: 44px;
        font-size: 15px;
        padding: 11px 16px 0;
    }
    #nav > li > .sub {
        position: static;
        display: none;
        max-height: none;
        background: transparent;
        width: 100%;
        visibility: visible;
        opacity: 1;
        text-align: center;
        margin: 0 !important;
        border: 0;
        border-radius: 0;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    #nav > li > .sub > li > a {
        display: inline-block;
        font-size: 12px;
        padding: 6px 15px;
        border: 0;
    }
    header .proIco {
        float: left;
        /*margin-right: 32px;*/
    }
    header .proIco .proDrop {
        left: 0;
        right: initial;
        border-radius: 4px;
        border-top-left-radius: 0;
    }
    header .proIco .proDrop:before,
    header .proIco .proDrop:after {
        left: 0;
        right: initial;
        border: 0;
        border-top: 12px solid transparent;
        border-left: 10px solid #fff;
    }
    header .proIco .proDrop:after {
        /*top: -12px;*/
        left: -1px;
        right: initial;
        border-top: 11px solid transparent;
        border-left: 11px solid #eff0f2;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {}

@media screen and (max-width:991px) {
    /*_____ Home _____*/
    #slider .lBtn,
    #slider .rBtn {
        display: none;
    }
    #works .listing > li {
        width: 100%;
    }
    #join {
        padding: 60px 0;
        /*padding-top: 180px;*/
    }
    #join .flexRow > .col {
        width: 100%;
    }
    #join .lst > li {
        width: 100%;
        border: 0;
        /*border-top: 1px solid rgba(0, 0, 0, 0.1);*/
    }
    #join .content {
        text-align: center;
    }
    #studio .flexRow > .col {
        width: 60%;
    }
    #plan .lst > li {
        width: 50%;
    }
    #location .secHeading {
        text-align: left;
    }
    #location .flexRow {
        justify-content: flex-start;
    }
    #location .flexRow > .col {
        width: 25%;
    }
    /*_____ Common _____*/
    #about .weAre .lst > li {
        width: 100%;
        text-align: center;
    }
    #about .founder .founderLst > li {
        width: 100%;
    }
    #works .whyUs .lst > li .inner {
        padding: 0;
    }
    #whyJoin .lst > li {
        width: 50%;
    }
    #plan.planPg .lst2 > li {
        width: 50%;
    }
    #browse .lst > li {
        width: 33.3334%;
    }
    #browse .filterLst > li {
        width: 33.3334%;
    }
    #contact .flexRow > .col1 {
        width: 40%;
    }
    #contact .flexRow > .col2 {
        width: 60%;
    }
    #proDetail .flexRow > .col {
        width: 80%;
    }
    /*_____ Dashboard _____*/
    #profileSet .flexRow > .col {
        width: 100%;
    }
    #credit .inner {
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        -o-flex-flow: column;
        flex-flow: column;
    }
    #credit .inner .planBlk {
        width: 100%;
        min-width: 100px;
        margin: 0 0 20px;
    }
    #credit .inner .content {
        width: 100%;
        max-width: none;
    }
    #credit .inner .bTn {
        justify-content: center;
    }
}

@media screen and (max-width:767px) {
    /*_____ All Site _____*/
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 15px;
    }
    .secHeading {
        font-size: 30px;
    }
    p.pre {
        font-size: 16px;
    }
    /*_____ Home _____*/
    #banner {
        min-height: auto;
    }
    #banner .content h1 > span {
        font-size: 46px;
    }
    #location .flexRow > .col {
        width: 50%;
    }
    footer .lst > li {
        font-size: 15px;
        padding: 5px 15px;
    }
    /*_____ Common _____*/
    #works .whyUs .lst > li {
        width: 100%;
    }
    #works .whyUs .lst > li .inner {
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        -o-flex-flow: column;
        flex-flow: column;
        text-align: center;
        padding: 0 20px;
    }
    #works .whyUs .lst > li .icon {
        margin: 0 auto 15px;
    }
    #browse .lst > li {
        width: 50%;
    }
    #browse .filterLst > li {
        width: 33.3334%;
    }
    #browse .filterLst > li:nth-last-child(1),
    #browse .filterLst > li:nth-last-child(2) {
        width: 50%;
    }
    #contact .flexRow > .col {
        width: 100%;
    }
    #contact form .bTn {
        justify-content: center;
    }
    #proDetail .flexRow > .col {
        width: 100%;
    }
    #proDetail .content h2 {
        font-size: 22px;
    }
    /*_____ Dashboard _____*/
    #topnav .inside {
        display: block;
    }
    #owl-navigation .owl-stage {
        margin: auto;
    }
    #topnav .inside h6 {
        text-align: center;
        white-space: normal;
        margin: 0 auto 10px;
    }
    .blockLst > table tr {
        border-bottom: 1px solid #eee;
    }
    .blockLst > table tr > * {
        display: block;
        width: 100%;
        padding: 3px 15px;
        text-align: center;
        border-bottom: 0;
    }
    .blockLst > table tr > *:nth-child(1) {
        padding: 15px 15px 3px;
    }
    .blockLst > table tr > *:nth-last-child(1) {
        padding: 3px 15px 15px;
    }
    .blockLst > table tr .bTn {
        justify-content: center;
        margin-top: 0;
    }
    .blockLst > table tr .icoBlk {
        flex-flow: column;
    }
    .blockLst > table tr .ico {
        margin: 0 0 5px;
    }
    .blockLst > table tr .image {
        margin: auto;
    }
    #reservation .blockLst > table tr > * {
        border: 0;
    }
    #reservation .days {
        display: inline-block;
    }
}

@media screen and (max-width:580px) {
    /*_____ col-xx-? _____*/
    .col-xx-12 {
        width: 100%;
    }
    .col-xx-11 {
        width: 91.66666667%;
    }
    .col-xx-10 {
        width: 83.33333333%;
    }
    .col-xx-9 {
        width: 75%;
    }
    .col-xx-8 {
        width: 66.66666667%;
    }
    .col-xx-7 {
        width: 58.33333333%;
    }
    .col-xx-6 {
        width: 50%;
    }
    .col-xx-5 {
        width: 41.66666667%;
    }
    .col-xx-4 {
        width: 33.33333333%;
    }
    .col-xx-3 {
        width: 25%;
    }
    .col-xx-2 {
        width: 16.66666667%;
    }
    .col-xx-1 {
        width: 8.33333333%;
    }
    .secHeading {
        font-size: 28px;
    }
    /*_____ Home _____*/
    #banner .content h1 > span {
        font-size: 42px;
    }
    #plan .lst > li {
        width: 60%;
    }
    /*_____ Common _____*/
    #sBanner {
        padding: 40px 0 30px;
    }
    #sBanner .content h1 {
        font-size: 28px;
    }
    #about .company .content,
    #about .contactUs .content {
        font-size: 14px;
    }
    #whyJoin .lst > li {
        width: 100%;
    }
    #browse .topHead {
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        -o-flex-flow: column;
        flex-flow: column;
        text-align: center;
    }
    #browse .topHead h2 {
        font-size: 24px;
        margin: 0 0 10px;
    }
    #browse .filterLst > li {
        width: 100% !important;
    }
    /*_____ Dashboard _____*/
    #packages .lst > li {
        width: 70%;
    }
    #credit .couponBlk {
        max-width: 160px;
        margin: 0 auto 15px;
    }
}

@media screen and (max-width:480px) {
    /*_____ col-xx-? _____*/
    .col-xx-12,
    .col-xx-11,
    .col-xx-10,
    .col-xx-9,
    .col-xx-8,
    .col-xx-7,
    .col-xx-6,
    .col-xx-5,
    .col-xx-4,
    .col-xx-3,
    .col-xx-2,
    .col-xx-1 {
        width: 100% !important;
    }
    .secHeading {
        font-size: 26px;
    }
    /*_____ Home _____*/
    #banner {
        /*padding-bottom: 120px;*/
    }
    #banner:after {
        height: 60px;
    }
    #banner .content h1 > span {
        font-size: 38px;
    }
    #banner .content p {
        font-size: 15px;
        margin-bottom: 15px;
    }
    #slider .carousel-indicators {
        bottom: 60px;
    }
    #join {
        /*padding-top: 120px;*/
    }
    #join:before {
        height: 60px;
    }
    #studio .flexRow > .col {
        width: 100%;
    }
    #similar .inner,
    #surfboards .inner {
        width: 240px;
    }
    #plan .lst > li {
        width: 100%;
    }
    .planBlk .price {
        font-size: 24px;
    }
    #surfboards {
        /*padding-bottom: 120px;*/
    }
    #surfboards:before {
        height: 60px;
    }
    #location {
        /*padding-top: 120px;*/
    }
    #location:before {
        height: 60px;
    }
    /*_____ Common _____*/
    #about .block .secHeading {
        font-size: 24px;
    }
    #about .founder {
        /*padding: 110px 0;*/
    }
    #about .founder:before,
    #about .founder:after {
        height: 60px;
    }
    #about .founder .inner {
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        -o-flex-flow: column;
        flex-flow: column;
    }
    #about .founder .inner .ico {
        width: 140px;
        min-width: 140px;
        height: 140px;
        margin: 0 0 20px;
    }
    #works .whyUs {
        /*padding: 120px 0;*/
    }
    #works .whyUs:before,
    #works .whyUs:after {
        height: 60px;
    }
    #plan.planPg .lst2 > li {
        width: 100%;
    }
    .srchLst {
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        -o-flex-flow: column;
        flex-flow: column;
    }
    .srchLst > li {
        width: 100% !important;
    }
    .srchLst > li .txtBox,
    .srchLst > li .webBtn {
        height: 40px;
    }
    .srchLst > li .webBtn i {
        font-size: 32px;
    }
    #browse .srchBlk .srchLst > li .txtBox {
        background: rgba(255, 255, 255, 0.2);
        font-size: 15px;
        padding: 6px 12px;
    }
    #browse .srchBlk .srchLst > li .webBtn {
        width: 100%;
        background: rgba(255, 255, 255, 0.2);
        padding-top: 16px;
    }
    #browse .lst > li {
        width: 70%;
    }
    #proDetail {
        /*padding-bottom: 120px;*/
    }
    #proDetail:after {
        height: 60px;
    }
    #proDetail .content h2 {
        font-size: 20px;
    }
    #proDetail form .btnLst {
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        -o-flex-flow: column;
        flex-flow: column;
    }
    #proDetail form .btnLst > li,
    #proDetail form .btnLst > li .webBtn {
        width: 100%;
    }
    #logOn:before,
    #logOn:after {
        height: 60px;
    }
    #not404 .inside .ico {
        font-size: 100px;
    }
    /*_____ Dashboard _____*/
    .blk ._header {
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        -o-flex-flow: column;
        flex-flow: column;
        align-items: flex-start;
    }
    .blk ._header > * {
        margin-top: 5px;
    }
    .blk ._header h3 {
        margin: 0;
    }
    #packages .lst > li {
        width: 100%;
    }
    #credit .inner .topHead {
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        -o-flex-flow: column;
        flex-flow: column;
        align-items: flex-start;
    }
    #credit .inner .topHead h2 {
        font-size: 18px;
        margin: 0 0 10px;
    }
    #reservation .nav-tabs > li > a {
        margin-left: 0;
        margin-right: 3px;
    }
}

@media screen and (max-width:380px) {
    /*_____ All Site _____*/
    .secHeading {
        font-size: 26px;
    }
    p.pre {
        font-size: 15px;
    }
    /*_____ Home _____*/
    #banner .content h1 {
        font-size: 12px;
    }
    #banner .content h1 > span {
        font-size: 30px;
    }
    #banner .bTn > * {
        width: 100%;
    }
    #location .flexRow {
        margin: 0;
    }
    #location .flexRow > .col {
        width: 100%;
        padding: 0;
    }
    footer .lst {
        margin: -5px -10px;
    }
    footer .lst > li {
        font-size: 14px;
        padding: 5px 10px;
    }
    /*_____ Common _____*/
    #works .whyUs .lst > li .inner {
        padding: 0;
    }
    #browse .lst > li {
        width: 100%;
    }
    .faqLst > li h3 {
        font-size: 14px;
    }
    /*_____ Dashboard _____*/
    #packages .lst {
        margin: -15px;
    }
}

/*
|----------------------------------------------------------------------
|       Media Queries Height
|----------------------------------------------------------------------
*/

@media screen and (max-height:420px) {}