/**
 *
 * Apply Here your Custom CSS
 *
*/

body {
	
}
.dataTables_paginate{
    width: 98%;
    text-align: center !important;
}
div#table-4_filter{
    width: 82%;
    float: left;
    text-align: left;
}
div#table-4_filter label{
	width: 100%;
}
div#table-4_filter label input{
	width:50%;
}
.dt-buttons{
    margin-top:10px;
    cursor: pointer;
}
.dt-button.buttons-excel.buttons-html5 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.dt-button.buttons-excel.buttons-html5 span{
    padding:10px;
}
.col-md-6.col-sm-8.clearfix li{
    display: block;
}
